<h1>id : <%= @task.id %> のタスク管理編集ページ</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content, 'タスク管理' %>
  <%= f.text_field :content %>
  
  <%= f.submit '編集' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>